@model EventEase.Models.Venue

@{
    ViewData["Title"] = "Venue Details";
}

<h1>Venue Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="@Model.VenueName">
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.VenueName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.VenueName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Capacity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Capacity)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>
                <dd class="col-sm-9">
                    <a href="@Model.ImageUrl" target="_blank">View Image</a>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VenueId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>